<div class="story-body">
    <h2>Exodus due to Disagreement</h2>
    <p>The majority of ministerial resignations under Theresa May were due to disagreement, while perviously most ministers left for personal reasons.</p>
    <p>Among the 24 ministers who disagreed with May, 22 had a different opinion on European policy in regard to Brexit.</p>
    <div id="chart-01"></div>
</div>

<div class="story-body">
<iframe title="All about Brexit" aria-label="Stacked Bars" id="datawrapper-chart-UWOIz" src="//datawrapper.dwcdn.net/UWOIz/2/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="363"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",function(a){if(void 0!==a.data["datawrapper-height"])for(var e in a.data["datawrapper-height"]){var t=document.getElementById("datawrapper-chart-"+e)||document.querySelector("iframe[src*='"+e+"']");t&&(t.style.height=a.data["datawrapper-height"][e]+"px")}})}();</script>
</div>