<div class="story-body">
    <h2>Change over the Years</h2>
    <p>Here's a chart showing the number of ministerial resignations outside reshuffles from 1979 to July 2019.</p>
    <div id="chart-01"></div>
</div>

<script src="scripts/chart-01.js"></script>
