<!doctype html>
<html lang='en'>
<head>
  {{> base/head }}
</head>

<body>
<div class="container">
  {{> base/navbar }}

  <h3>Grace Li is a data journalist at Columbia Journalism School.</h3>
  <br>
  <h3>Take a look at my latest project <a class="nav-link" href="project-03.hbs">Project-03</a>
</h3>

</body>
</html>