---
headline: "Therasa May Time Saw Highest Number of Ministerial Resignations"
subhead: "Over 20 Ministers Left May's Government due to European Policy Disagreement"
published_date: "October 28, 2019"
site: "http://gracelinan.github.io/portfolio-01/"
siteName: "Grace Li Portfolio"
url: "http://gracelinan.github.io/portfolio-01/"
kicker: "Technology"
author:
    name: "Grace Li"
    url: "https://medium.com/@nl2687"
    twitterHandle: "@GraceL129"
analytics": ""
---
<!-- 
  This line means, use default.hbs layout from src/html/layouts/
-->

{{!< default}}

<div class="story-body">
      <p class="body-text">Apart from the challenges she faced to negotiate a Brexit deal, Therasa May also had a difficult time having her ministers stick to their jobs, according to data from UK Institute for Government.</p>
    </div>

{{> project-03/chart-01 }}
{{> project-02/chart-02 }}


