---
headline: "Ivory Trade through Hong Kong: So Much In, Not Much Out"
subhead: "Elephant tusks import is 3.2 times of export from 1977 to 2017"
published_date: "October 14, 2019"
site: "http://gracelinan.github.io/portfolio-01/"
siteName: "Grace Li Portfolio"
url: "http://gracelinan.github.io/portfolio-01/"
kicker: "Environment"
author:
    name: "Grace Li"
    url: "http://gracelinan.github.io/portfolio-01/"
    twitterHandle: "@GraceL129"
analytics": ""
---
<!-- 
  This line means, use default.hbs layout from src/html/layouts/
-->

{{!< default}}

<div class="story-body">
      <p class="body-text">From 1977 to 2017, Hong Kong imported 3,614 tons of elephant tusks from countries including Sudan, Japan and Central African Repulic; the city reexported 1,128 tons to Japan, China, India and some other countries, according to data from the Convention on International Trade in Endangered Species of Wild Fauna and Flora ("CITES").</p>
      <p class="body-text">Large quantities of tusks were consumed locally, or more likely, flowed to China in various other ways.</p>
    </div>


<div class="flourish-embed" data-src="visualisation/767641" data-width="100%"></div><script src="https://public.flourish.studio/resources/embed.js"></script>

