---
headline: "Underdeveloped Countries Face the Highest Cost for Information"
subhead: "Mobile data is the hardest to afford in Central and West Africa"
published_date: "October 28, 2019"
site: "http://gracelinan.github.io/portfolio-01/"
siteName: "Grace Li Portfolio"
url: "http://gracelinan.github.io/portfolio-01/"
kicker: "Communications"
author:
    name: "Grace Li"
    url: "https://medium.com/@nl2687"
    twitterHandle: "@GraceL129"
analytics": ""
---
<!-- 
  This line means, use default.hbs layout from src/html/layouts/
-->

{{!< default}}

<div class="story-body">
      <p class="body-text">Living in an era when mobile data is vital to people’s everyday life, residents in some African countries still consider it a luxury to get mobile data, the price of which is out of reach for those living on an average salary. </p>
      <p class="body-text">The Alliance for Affordable Internet, a global coalition working towards affordable broadband with Google being one of its sponsors, recently released the data about mobile data prices in 99 low- and middle-income countries.</p>
      <p class="body-text">The rates included in this report refer specifically to the price of 1GB of broadband data over a 30-day period based on the cheapest plans of the largest mobile network operator in each country.</p>
    </div>

{{> project-03/chart-01 }}
{{> project-03/chart-02 }}
{{> project-03/chart-03 }}
{{> project-03/chart-04 }}



