<br>
<div class="story-body">
    <h2>Sky-high Price in Caribbean Countries</h2>
    <p>The chart below shows the price for 1GB data in USD in all 99 countries surveyed. Mobile data can be extremely expensive in a few countries around the Caribbean Sea. Please find the precise price for the six “high-cost Internet countries” in the second chart.</p>
      <a class="btn btn-warning" id='asia'>Asia</a>
      <a class="btn btn-warning" id='africa'>Africa</a>
      <a class="btn btn-warning" id='continent'>Color by continent</a>
      <a class="btn btn-warning" id='high-cost'>High-cost Internet countries</a>
      <a class="btn btn-warning" id='reset'>Reset</a>
    <div id="bar-chart"></div>
</div>

<script src="scripts/project-03/chart-01.js"></script>
