<br>
<div class="story-body">
    <h2>More Population are Enjoying Low-cost Data</h2>
    <p>For low- and middle-income countries with the largest populations, mobile data price has become more affordable in recent years.</p>
    <p><strong>Price of 1GB mobile data as % of average income from 2015 to 2019</strong></p>
    <div id="chart-04"></div>
</div>

<script src="scripts/project-03/chart-04.js"></script>
