<div class="story-body">


<div class="story-body">
<iframe title="Countries Charging the Most for Mobile Data&amp;nbsp;" aria-label="Bar Chart" id="datawrapper-chart-zwtcE" src="//datawrapper.dwcdn.net/zwtcE/2/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="288"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",function(a){if(void 0!==a.data["datawrapper-height"])for(var e in a.data["datawrapper-height"]){var t=document.getElementById("datawrapper-chart-"+e)||document.querySelector("iframe[src*='"+e+"']");t&&(t.style.height=a.data["datawrapper-height"][e]+"px")}})}();</script>
</div>