<br>
<div class="story-body">
    <h2>Data in African Countries Most Unaffordable</h2>
    <p>A high price does not mean that people cannot afford mobile data. In Trinidad and Tobago, one gigabyte of mobile data costs almost US$50, which is about 3.65 percent of the country’s gross national income per capita. In contrast, although the same amount of data costs only about US$10 in DR Congo, that is more than one quarter of the country’s average income.</p>
    <div id="chart-01"></div>
</div>

<div class="story-body">
<iframe title="West and Central Africa has the most expensive data" aria-label="World choropleth map" id="datawrapper-chart-9aDtE" src="//datawrapper.dwcdn.net/9aDtE/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="400"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",function(a){if(void 0!==a.data["datawrapper-height"])for(var e in a.data["datawrapper-height"]){var t=document.getElementById("datawrapper-chart-"+e)||document.querySelector("iframe[src*='"+e+"']");t&&(t.style.height=a.data["datawrapper-height"][e]+"px")}})}();</script>
</div>